
body {
    padding: 20px;
    background-color: #335566;
    font-family: Arial, sans-serif;
}


.ranking-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.ranking-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.ranking-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.ranking-card h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #222;
}

.ranking-card p {
    color: #c02b2b;
    font-weight: bold;
    margin-bottom: 10px;
}

.ranking-card ol {
    text-align: left;
    padding-left: 20px;
}

.ranking-card ol li {
    font-size: 15px;
    color: #555;
    margin-bottom: 5px;
}
.navbar{
    grid-area: navbar;
}
.navbar ul{
    list-style-type: none;
    background-color: #fff;
    padding: 0;
    margin: 0;
   
    overflow: hidden;
    border-radius: 10px;
}
.navbar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover {
    background-color: #444;
    transition: 1s;
}
.navbar li {
    float: left;
}
.right {
    float:right !important;
}

