.navbar{
    grid-area: navbar;
}
.navbar ul{
    list-style-type: none;
    background-color: #fff;
    padding: 0;
    margin: 0;
   
    overflow: hidden;
    border-radius: 10px;
}
.navbar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover {
    background-color: #444;
    transition: 1s;
}
.navbar li {
    float: left;
}
.right {
    float:right !important;
}

body {
    padding: 20px;
    background-color: #335566;
    font-family: Arial, sans-serif;
    color: #fff;
}


.Shop-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}
.Shop-container img{
    margin-top: 20px;
    width: 50%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}
.Shop-container div{
    background-color: rgb(29, 41, 41);
}
bb
