header h1{
    text-align: center;

}
.navbar ul{
    list-style-type: none;
    background-color: #fff;
    padding: 0;
    margin: 0;
   
    overflow: hidden;
    border-radius: 10px;
}

.navbar {
    position: absolute;
    top: 100px;
    width: 80vw;
    margin-left: 10vw;
}

.navbar a {
    color: #000000;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover {
    background-color: #444;
    transition: 1s;
}
.navbar li {
    float: left;
}
.right {
    float:right !important;
}
img{
   border-radius: 10px;
}
#picka{
    position: absolute;
    top: 200px;
    left: 1000px;
    width: 100px;
    color: #fff;
    background-color: greenyellow;

}

main{
    grid-area: main;
}